{% extends 'admin_base.html' %}
{% block main %}
<div class="card-body">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
        {% for agent in delivery_agents %}
            <div class="col">
                <div class="card card-user">
                    <div class="card-header">
                        {% comment %} <img class="img-md img-avatar" src="{% static 'images/women-01.jpg' %}" alt="User pic"> {% endcomment %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-50">{{ agent.first_name }}</h5>
                        <div class="card-text text-muted">
                            <p class="m-0">Agent ID: #{{ agent.id }}</p>
                            <p>Email: {{agent.user.email}}</p>
                            <p>Place: {{ agent.place }}</p>
                            <p>Mobile Number: {{ agent.mobile }}</p>
                            <p>Pincode: {{ agent.pincode }}</p>
                            <!-- Add other fields as needed -->
                          
                        </div>
                    </div>
                </div>
            </div> <!-- col.// -->
        {% endfor %}
    </div>
</div>

</div> <!-- card end// -->


{% endblock %}