{% extends 'navigation.html' %}
{% block body %}
<h6> commented</h6> 
<style>
 
</style>
{% comment %}<div class="video-slider">
  <div class="video-slide">
      <video controls>
          <source src="video1.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
  <div class="video-slide">
      <video controls>
          <source src="video2.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
  <!-- Add more video slides as needed -->
</div> {% endcomment %}

{% comment %} <h4>Banner </h4> {% endcomment %}
{% comment %} <div class="container-fluid mt-2">
  <div class="container-fluid">
      <div class="row w-100 mx-auto">
        {% for j in products %}                   
        <div class="col-md-3">
            <div class="card" align="center" style="border:1px solid lightgrey">
                <img class="card-img-top img-thumbnail" src="{{j.image.url}}" style="width:100%" alt="card-img">
                <div class="card-body">
                  <h6 class="card-title">
{{j.name}} Rs.{{j.price}}</h6>
                  <p class="card-text" style="font-size:14px">
{{j.description}}</p>
                 

                          <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mr-2">
                                <a href="/add-to-cart/{{j.id}}/" class="text-white">
                                    <i class="fa fa-shopping-cart"></i> 
                                </a>
                            </button>
                            <button type="submit" class="btn btn-danger">
                                <a href="/product-detail/{{j.id}}/" class="text-white">
                                  <i class="fa fa-eye"></i>
                                </a>
                            </button>
                        </div>
                      
                </div>
              </div>
          </div>
        {% empty %}
          <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  {% comment %} <img src="{% static 'images/empty.jpg' %}" /> {% endcomment %}
                {% comment %} </div>
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
</div>


{% endblock %}  {% endcomment %}

{% comment %} <button type="submit" class="btn btn-primary">
  <a href="/add-to-cart/{{j.id}}/" class="btn btn-primary">
      <i class="fa fa-shopping-cart"></i>
    </a>
    <a href="/product-detail/{{j.id}}/" >
      <a href="/product-detail/{{j.id}}/" class="btn btn-warning"> 
     <i class="fa fa-info" style="font-size:22px"></i>
    </a></button><br>
    <button type="submit" class="btn btn-danger">
     
        <a href="/product-detail/{{j.id}}/" style="color:white" >
           <a href="/product-detail/{{j.id}}/" class="btn btn-warning"> 
          <i class="fa fa-info" style="font-size:22px"></i> 
        View</a></button>  {% endcomment %}

        {% comment %} <script>
          $(document).ready(function() {
              var currentSlide = 0;
              var slides = $('.video-slide');
      
              // Function to show the next video slide
              function showNextSlide() {
                  slides.eq(currentSlide).fadeOut(1000);
                  currentSlide = (currentSlide + 1) % slides.length;
                  slides.eq(currentSlide).fadeIn(1000);
              }
      
              // Start the slide show
              showNextSlide();
              setInterval(showNextSlide, 5000); // Change slide every 5 seconds (adjust as needed)
          });
      </script> {% endcomment %}




      
      {% comment %} <!-- Video Banner Slider -->
      <div class="video-slider">
          <div class="video-slide">
              <video controls autoplay loop>
                  <source src="\media\video1.mp4" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
          </div>
          <div class="video-slide">
              <video controls autoplay loop>
                  <source src="video2.mp4" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
          </div>
          <!-- Add more video slides as needed -->
      </div> {% endcomment %}
      
      <div class="container-fluid mt-2">
        <div class="container-fluid">
            <div class="row w-100 mx-auto">
                {% for j in products %}
                <div class="col-md-3">
                    <div class="card" align="center" style="border:1px solid lightgrey">
                        <div class="image-container" style="height: 200px; display: flex; align-items: center; justify-content: center;">
                            <img class="card-img-top img-thumbnail" src="{{j.image.url}}" style="max-height: 200px; max-width: 150px;" alt="card-img">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                {{j.name}} Rs.{{j.price}}
                            </h6>
                            <p class="card-text" style="font-size:14px">
                                {{j.description}}
                            </p>
                            <div class="d-flex justify-content-center">
                              <a href="/add-to-cart/{{j.id}}/" class="text-white">
                                  <button type="submit" class="btn btn-primary mr-2">
                                      <i class="fa fa-shopping-cart"></i>
                                  </button>
                              </a>
                              <a href="/product-detail/{{j.id}}/" class="text-white">
                                  <button type="submit" class="btn btn-danger mr-2">
                                      <i class="fa fa-eye"></i>
                                  </button>
                              </a>
                              <a href="/wishlist/{{j.id}}/" class="text-white">
                                  <button type="submit" class="btn btn-success" >
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </a>
                          </div>
                          
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {% comment %} <img src="{% static 'images/empty.jpg' %}" /> {% endcomment %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
      
      <!-- JavaScript/jQuery for Video Slider -->
     


{% endblock %}


      