{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


            <style>
                .swiper{
            
                    width: 90%;
                    height: fit-content;
                    height: 50vh;
                    position: relative;
                    border-radius: 10px;
                
                }
                .swiper-slide > img{
                
                 width: 100%;
                 height: 100%;
                
                }
                .swiper .swiper-button-prev, .swiper .swiper-button-next{
                
                color: #fff;
                
                
                }
                .swiper .swiper-pagination-bullet-active{
                
                   background-color: #fff;
                
                 }
                 .swiper-slide h3{
                
                 color: #fff;
                 text-align: center;
                 position: absolute;
                
                 
                
                 }
                 .swiper_info{
                
                    position: absolute;
                    color: rgb(255, 255, 255);
                    padding: 15px 20px;
                    margin: 5px 33px;
                    top: 40px;
                    box-shadow: 4px 5px 22px -4px rgb(255 250 255);
                    /* background: linear-gradient(90deg, rgba(255, 42, 0, 0.6) 0%, rgba(219, 18, 18, 0.24) 100%); */
                    background: linear-gradient(90deg, rgb(33, 37, 41) 0%, rgba(33, 37, 41, 0.4) 100%);
                   border-radius: 10px;
                
                 }
                 .swiper_info h3{
                
                  
                   padding: 15px 8px;
                   margin: 4px 20px;
                   
                
                 }
                .swiper_info p{
                
                    top: 55px;
                background-color: #ff123e;
                padding: 5px 10px;
                    margin: 80px 20px;
                    padding: 5px 8px;
                    border-radius: 5px;
                    text-align: center;
                   
                
                }
            </style>

            <style>

                .custom-toast-class {
                    background-color: rgba(0, 128, 0, 1);  color:white; /* Text color */
                  border-radius: 8px; /* Border radius */
                  max-width: 250px;
                  opacity: 1 !important;
                  
                
                }
            
                </style>

            <script>
                $(document).ready(function() {
                  // Check if there are any messages in the Django messages framework
                  {% if messages %}
                    {% for message in messages %}
                      // Display a toastr notification for each message
                      toastr.success("{{ message }}", '', {
                        positionClass: 'toast-top-center', // Set position to top center
                        progressBar: true, // Display a progress bar
                        closeButton: true, // Display a close button
                        toastClass: 'custom-toast-class',
                      });
                    {% endfor %}
                  {% endif %}
                });
              </script>
<div class="swiper" style="object-fit: cover;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <video controls width="100%" height="100%" autoplay muted>
                <source src="{% static 'images/video1.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
        </div>
        <div class="swiper-slide">        
            <img src="{% static 'images/img4.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide">     
            <img src="{% static 'images/img1.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide"> 
            <img src="{% static 'images/img4.jpg' %}" alt="" />
        </div>
    </div>
     <!-- If we need pagination -->
     <div class="swiper-pagination"></div>

     <!-- If we need navigation buttons -->
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
 
     <!-- If we need scrollbar -->
     <div class="swiper-scrollbar"></div>
</div>

   
</div>
<br><br>

<center><h1>This Week’s Highlights</h1></center>
<div class="swiper right-container" style="object-fit: cover; width:50%; height:50%;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="{% static 'images/op.jpg' %}" alt="" />
            
        </div>
        <div class="swiper-slide">        
            <img src="{% static 'images/sm.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide">     
            <img src="{% static 'images/red2.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide"> 
            <img src="{% static 'images/sm.jpg' %}" alt="" />
        </div>
    </div>
     <!-- If we need pagination -->
     <div class="swiper-pagination"></div>

     <!-- If we need navigation buttons -->
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
 
     <!-- If we need scrollbar -->
     <div class="swiper-scrollbar"></div>
</div>

   
</div>

<br><br>
  
<center><h3>Recommended Products</h3> </center>


<div class="container mt-2">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary" id="prevBtn">&#8592;</button>
        </div>
        <div class="col-10">
            <div class="product-carousel-container">
                <div class="product-carousel">
                    {% for j in products %}
                    <div class="product-item">
                        <div class="card" align="center" style="border: 1px solid lightgrey; width: 200px; height: 310px;">
                            <div class="image-container" style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                <img class="card-img-top img-thumbnail" src="{{j.image.url}}" style="max-height: 200px; max-width: 150px;" alt="card-img">
                            </div>
                            <a href="/product-detail/{{j.id}}/" style="color:black; display: flex; flex-direction: column;justify-content: space-between;text-align: center;">

                            <div class="card-body">
                                <h6 class="card-title">
                                    {{j.name}} || {{j.front_camera}}||{{j.back_camera}}
                                </h6>
                                <h6 class="card-title">
                                     Rs.{{j.price}}
                                </h6></a>
                                <!-- Commented out description -->
                                <!-- <p class="card-text" style="font-size:14px">
                                    {{j.description}}
                                </p> -->
                                <div class="d-flex justify-content-center">
                                    <!-- Commented out shopping cart button -->
                                    <a href="/add-to-cart/{{j.id}}/" class="text-white">
                                        <button type="submit" class="btn btn-primary mr-2">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </a> 
<!-- For Now -->

                                    {% comment %} <a href="/product-detail/{{j.id}}/" class="text-white" >
                                        <button type="submit" class="btn btn-danger mr-2">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </a>
                                    <a href="/add_to_comparison/{{j.id}}/" class="text-white">
                                    <button type="button" class="btn btn-primary mr-2 compare-button add-to-compare" data-product-id="{{ j.id }}" style="width: 36px; height: 32px;">
                                        <i class="fa fa-exchange-alt"></i>
                                    </button>
                                    </a>
                                    <form action="/wishlist/{{j.id}}/" method="post" class="like-form" id="">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success like-button {% if j.is_liked_by_user %}liked{% endif %}">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </form> {% endcomment %}

                                    <!-- Hidden pop-up message div -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" id="nextBtn">&#8594;</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var currentIndex = 0;
        var items = $(".product-item");

        function showItems(index) {
            items.hide();
            items.slice(index, index + 4).show();
        }

        showItems(currentIndex);

        $("#nextBtn").click(function() {
            if (currentIndex < items.length - 4) {
                currentIndex += 4;
                showItems(currentIndex);
            }
        });

        $("#prevBtn").click(function() {
            if (currentIndex > 0) {
                currentIndex -= 4;
                showItems(currentIndex);
            }
        });
    });
</script>

                <style>
                    .product-carousel-container {
                        overflow: hidden;
                    }
            
                    .product-carousel {
                        display: flex;
                        overflow-x: scroll;
                        padding: 10px; /* Add some spacing between items */
                    }
            
                    .product-item {
                        flex: 0 0 25%;
                        padding: 10px;
                    }
            
                    /* Add CSS for the black box footer */
                    footer {
                        background: #000;
                        color: #fff;
                        padding: 20px 0;
                    }
                
                    /* Style the columns for the left and right sections */
                    .footer-columns {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                
                    .footer-column {
                        flex: 1;
                        margin: 10px;
                    }
                </style>
                
                <footer>
                    <div class="container">
                        <div class="footer-columns">
                            <div class="footer-column">
                                <div class="logo">
                                    <!-- Add your logo here -->
                                </div>
                                <h4> Contact Details</h4>
                                <ul>
                                    <li><a href="#">Kakkand, Kochi, Kerala</a></li>
                                    <li><a href="#">techtrove@gmail.com</a></li>
                                    <li><a href="#">91952 662 5155</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Shopping & Categories</h4>
                                <ul>
                                    <li><a href="#">Smartphones</a></li>
                                    <li><a href="#">Basicphones</a></li>
                                    <li><a href="#">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><a href="#">Homepage</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Help & Information</h4>
                                <ul>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">FAQ's</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Tracking ID</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="under-footer">
                            <center><p >Copyright © 2023 TechTrove Co., Ltd.</p></center>
                            {% comment %} <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul> {% endcomment %}
                        </div>
                    </div>
                </footer>
                
        </div>
    </div>
</div>
    
    <!-- Hidden pop-up message div -->
    <div id="popup-message" class="alert alert-success" style="display: none;">
        <strong></strong>
    </div>
    
    <!-- JavaScript/jQuery for updating the like button color and displaying the pop-up message -->
    <script>
    
    $(document).ready(function () {
        $('.like-form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            var likeButton = form.find('.like-button');
            var heartIcon = likeButton.find('.fa-heart');
            var productId = likeButton.data('product-id');
            var productName = likeButton.data('product-name');
            var message = '';
    
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function () {
                    if (heartIcon.hasClass('liked')) {
                        heartIcon.removeClass('liked');
                        likeButton.removeClass('btn-danger'); // Remove the red color class
                        likeButton.addClass('btn-success'); // Add the green color class
                        //message = productName + ' removed from your wishlist.';
                        message = 'product removed from your wishlist.';
                    } else {
                        heartIcon.addClass('liked');
                        likeButton.removeClass('btn-success'); // Remove the green color class
                        likeButton.addClass('btn-danger'); // Add the red color class
                        //message = productName + ' added to your wishlist.';
                        message = 'product added to your wishlist.';
                    }
    
                    // Display the message as a browser alert
                    alert(message);
                }
            });
        });
    });
    
</script> 

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script>
        // Initialize Swiper with autoplay and loop options
        const swiper = new Swiper(".swiper", {
            autoplay: {
                delay: 5000, // Set the delay between slides (in milliseconds)
                disableOnInteraction: false, // Continue autoplay after user interactions
            },
            loop: true, // Loop the carousel
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    
        // Function to handle video autoplay and slide transition
        function handleVideoAutoplayAndSlideTransition() {
            const currentSlide = swiper.slides[swiper.activeIndex];
            const isVideoSlide = currentSlide.querySelector("video");
            
            if (isVideoSlide) {
                const video = isVideoSlide.querySelector("video");
                
                // Play the video
                video.play();
                
                // Listen for the "ended" event to transition to the next slide
                video.addEventListener("ended", function () {
                    swiper.slideNext(); // Transition to the next slide
                });
            }
        }
    
        // Listen for slide change events
        swiper.on("slideChange", handleVideoAutoplayAndSlideTransition);
    
        // Initialize video autoplay on the initial slide
        handleVideoAutoplayAndSlideTransition();
    </script>
    

    <script>
        $(document).ready(function () {
            // Function to display messages
            function showMessage(message, success) {
                var alertClass = success ? 'alert-success' : 'alert-danger';
                var alert = $('<div class="alert ' + alertClass + '">' + message + '</div>');
                $('.message-container').html(alert);
            }
    
            // Add to Compare button click event
            $(".add-to-compare").click(function () {
                var product = $(this).closest(".product");
                var productId = product.data("id");
                var productName = product.find("h2").text();
    
                $.ajax({
                    url: "/add_to_comparison/" + productId + "/",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        showMessage(data.message, true);
                    },
                    error: function (data) {
                        showMessage(data.responseJSON.message, false);
                    }
                });
            });
    
            // Remove from Comparison button click event (optional)
            $("#comparison-list").on("click", "li", function () {
                var productName = $(this).text();
                var index = comparedProducts.indexOf(productName);
                if (index !== -1) {
                    comparedProducts.splice(index, 1);
                    updateComparisonList();
                }
            });
    
            // Initialize the comparison list on page load
            updateComparisonList();
        });
    </script>
    
{% endblock %}




      