{% include 'navigation.html' %}
{% load static %}
<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
<style>


  .sidebar-heading:hover::before{
    
    }
.sidebar-heading:hover{
transform:translateX(-20px);
}

.list-group-item:hover{
  
  transform:translateX(-20px);
}

</style>
<div class="d-flex" id="wrapper" >
  <div class="bg-dark border-right" id="sidebar-wrapper" style="background:black; color:white;">
    <div class="sidebar-heading " style="margin-left:-1rem;">
        Filter by category
    </div>
    <div class="list-group list-group-flush" >
        <a href="{% url 'user_product' 0 %}" class="list-group-item list-group-item-action bg-dark" style="color:white; border-width:3px; margin-left: 0rem;">
            All Product
        </a>
        {% for i in allcategory %}
            <a href="{% url 'user_product' i.id %}" class="list-group-item list-group-item-action bg-dark" style="color:white; border-width:3px; margin-left: 0rem;" >
                {{i.name}}
            </a>
        {% endfor %}
    </div>
</div>

 
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
<i class="fa fa-bars">
</i>

</button>
        <h4 style="color:red;margin-left:30%">
View {{subcategory.name}} Product</h4>
      </nav>
      <div class="container-fluid mt-2">
          <div class="container-fluid">
              <div class="row w-100 mx-auto">
                {% for j in product %}                   
                <div class="col-md-3">
                    <div class="card " align="center" style="border:1px solid lightgrey">
                      <div class="image-container" style="height: 200px; display: flex; align-items: center; justify-content: center;">
                        <img class="card-img-top img-thumbnail" src="{{j.image.url}}" style="max-height: 200px; max-width: 150px;" alt="card-img">
                    </div>
                    <div class="card-body">
                          <h6 class="card-title">
{{j.name}} || {{j.front_camera}}||{{j.back_camera}}|| {{j.processor}} ||{{j.ram}} || {{j.rom}}</h6>
                          <p class="card-text" style="font-size:14px">
{{j.description}}</p>
                          <h5 class="card-text" style="font-size:14px">
                             Rs.{{j.price}}</h5>
                            {% comment %} <p class="card-text" style="font-size:14px">
                              {{j.front_camera}}</p> {% endcomment %}
                              {% comment %} <p class="card-text" style="font-size:14px">
                                {{j.black_camera}}</p> {% endcomment %}
                                {% comment %} <p class="card-text" style="font-size:14px">
                                  {{j.ram}}</p> {% endcomment %}
                                  {% comment %} <p class="card-text" style="font-size:14px">
                                    {{j.rom}}</p>    {% endcomment %}
                                  <div class="d-flex justify-content-center">
                                  
                                    <a href="/add-to-cart/{{j.id}}/" class="btn-theme btn btn-primary text-white ml-2" style="width: 40px; height: 30px;"tabindex="0">
                                      <i class="fa fa-shopping-cart"></i> Add to cart
                                  </a>
                                  <div style="margin-right: 10px;"></div>
                                    <button type="submit" class="btn btn-danger" style="width: 40px; height: 30px;">
                                        <a href="/product-detail/{{j.id}}/" class="text-white">
                                            <i class="fa fa-eye"></i> 
                                        </a>
                                    </button> <div style="margin-right: 10px;"></div>
                                    
                                    <form action="/wishlist/{{j.id}}/" method="post" class="like-form">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-success like-button {% if j.is_liked_by_user %}liked{% endif %}">
                                          <i class="fa fa-heart"></i>
                                      </button>
                                  </form><div style="margin-right: 10px;"></div>
                                  <a href="/add_to_comparison/{{j.id}}/" class="text-white">
                                    <button type="button" class="btn btn-primary mr-2 compare-button add-to-compare" data-product-id="{{ j.id }}" style="width: 36px; height: 32px;">
                                        <i class="fa fa-exchange-alt"></i>
                                    </button>
                                    </a>
                                </div>
                        </div>
                      </div>
                  </div>
                {% empty %}
                  <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                          <img src="{% static 'images/empty.jpg' %}" />
                        </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
 
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<script>
  $(document).ready(function () {
      $('.like-form').on('submit', function (e) {
          e.preventDefault();
          var form = $(this);
          var likeButton = form.find('.like-button');
          var heartIcon = likeButton.find('.fa-heart');
          var productId = likeButton.data('product-id');
          var productName = likeButton.data('product-name');
          var message = '';

          $.ajax({
              url: form.attr('action'),
              type: form.attr('method'),
              data: form.serialize(),
              success: function () {
                  if (heartIcon.hasClass('liked')) {
                      heartIcon.removeClass('liked');
                      likeButton.removeClass('btn-danger'); // Remove the red color class
                      likeButton.addClass('btn-success'); // Add the green color class
                      message = productName + ' removed from your wishlist.';
                  } else {
                      heartIcon.addClass('liked');
                      likeButton.removeClass('btn-success'); // Remove the green color class
                      likeButton.addClass('btn-danger'); // Add the red color class
                      message = productName + ' added to your wishlist.';
                  }

                  // Display the pop-up message
                  $('#popup-message strong').text(message);
                  $('#popup-message').fadeIn().delay(2000).fadeOut();
              }
          });
      });
  });
</script>

  
  
  
  
  
  